<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <title>File Server</title>
  <style>
  .not_alpha {
    background-color: #ffaaaa;
    color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
  }
  </style>
  <script>
    function form_load() {
      var html = "<table>";
      for (var i = 0; i < top.wordgroups.length; ++i) {
        html +=
          "<tr>\n" +
          "<td onclick=\"top.select_group(" + i + ")\">" + top.wordgroups[i].word + "</td>\n" +
          "<td>" + top.wordgroups[i].count + "</td>\n" +
          "</tr>\n";
      }
      html += "</table>";
      document.body.innerHTML = html;
    }
  </script>
</head>
<body onload="form_load()">
</body>
</html>

<!-- vim: set expandtab ts=2 : //-->
