<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <title>File top</title>
  <style>
    body {
      margin: 0;
    }
    table {
      height: 100%;
      background-color: #FFCCCC;
    }
    td.item {
      width: 250px;
      vertical-align: middle;
      text-align: center;
      font-size: 12pt;
      font-weight: bold;
      color: #ffffff;
    }
    td.item:hover {
      color: #DD0000;
      background-color: #FFAAAA;
    }
    a.item {
      color: #DD0000;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <td class="item">
        <a class="item" href="/" target="_top">home</a>
      </td>
      <td class="item">
        <a class="item" href="/test" target="_top">test</a>
      </td>
      <td class="item">
        <a class="item" href="/shutdown" target="_top">Завершить работу</a>
      </td>
    </tr>
  </table>
</body>
</html>

<!-- vim: set expandtab ts=2 : //-->
