<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <title>File Server</title>
  <style>
  .word {
    background-color: #ffffff;
    color: #000000;
    font-weight: normal;
  }
  .word_selected {
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
  }
  </style>
  <script>
    function form_load() {
      document.body.innerHTML = top.file_text;
    }
  </script>
</head>
<body onload="form_load()">
</body>
</html>

<!-- vim: set expandtab ts=2 : //-->
