<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <title>File Server</title>
  <style>
  .not_alpha {
    background-color: #ffaaaa;
    color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
  }
  table {
    font-size: 10pt;
  }
  .in_dict {
    background-color: #FFA0A0;
    color: #5F0000;
    cursor: pointer;
  }
  .not_in_dict {
    background-color: #A0FFA0;
    color: #005F00;
    cursor: pointer;
  }
  </style>
  <script>
    function add_word(el, word_index) {
      var req = new XMLHttpRequest();
      if (!req) {
        return ;
      }
      var word = top.wordgroups[word_index].word;
      req.onreadystatechange = function () {
        if (req.readyState == 4 && req.status == 200) {
          var resp = req.responseText;
          if (resp != "ok") {
            return;
          }
          el.innerHTML = "del";
          el.className = "in_dict";
          top.wordgroups[word_index].in_dict = true;
        }
      }
      req.open("POST", "/dictionary_add", true);
      req.send(word);
    }
    function del_word(el, word_index) {
        alert("ok '" + top.wordgroups[word_index].word + "'");
    }
    function form_load() {
      var html = "<table>";
      for (var i = 0; i < top.wordgroups.length; ++i) {
        var add_to_dict;

        if (top.wordgroups[i].in_dict) {
          add_to_dict =
            "<td id=\"td" + i + "\" class=\"in_dict\" onclick=\"del_word(this, " + i + ")\">" +
            "del" +
            "</td>";
        }
        else {
          add_to_dict =
            "<td id=\"td" + i + "\" class=\"not_in_dict\" onclick=\"add_word(this, " + i + ")\">" +
            "add" +
            "</td>";
        }

        html +=
          "<tr>\n" +
          "<td onclick=\"top.select_group(" + i + ")\">" + top.wordgroups[i].word + "</td>\n" +
          "<td>" + top.wordgroups[i].count + "</td>\n" +
          add_to_dict + "\n" +
          "</tr>\n";
      }
      html += "</table>";
      document.body.innerHTML = html;
    }
  </script>
</head>
<body onload="form_load()">
</body>
</html>

<!-- vim: set expandtab ts=2 : //-->
