<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <title>File Server</title>
  <style>
  .not_alpha {
    background-color: #ffaaaa;
    color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
  }
  </style>
  <script>
    var wordgroups = [
      <?wordlist?>
    ];
    var cur_word_index = 0;
    var file_text = "<?file_text?>";
    var pos_old = 0;
    var selected = [ ];


    function deselect_all_words() {
      for (var i = 0; i < selected.length; ++i) {
        var word = get_element_by_wp(selected[i]);
        word.className = 'word';
      }
      selected = [ ];
    }

    function get_element_by_wp(wp) {
      return top.frame_file.document.getElementById('word_' + wp);
    }

    function select_all_words(group_id) {
      var wordpositions = wordgroups[group_id].wordpositions;
      for (var i = 0; i < wordpositions.length; ++i) {
        var word = get_element_by_wp(wordpositions[i]);
        word.className = 'word_selected';
        selected[selected.length] = wordpositions[i];
      }
    }

    function select_group(group_id) {
      deselect_all_words();
      select_all_words(group_id);
      wordpositions_update(group_id);
    }

    function wordpositions_update(group_id) {
      var html = "";
      var wordpositions = wordgroups[group_id].wordpositions;

      cur_word_index = group_id;

      html =
        "Слово: " + wordgroups[group_id].word + "<br>\n" +
        "Словопозиции:";
      for (var i = 0; i < wordpositions.length; ++i) {
        html +=
            " <a href=\"#\">" + wordpositions[i] + "</a>";
      }

      top.frame_card.document.body.innerHTML = html;
    }
  </script>
</head>
<frameset rows="30,*">
  <frame src="/file/<?filename?>/top" name="frame_top">
  <frameset cols="300,*">
    <frame src="/file/<?filename?>/wordlist" name="frame_wordlist" scrolling="yes">
    <frameset rows="*,300">
      <frame src="/file/<?filename?>/file" name="frame_file" scrolling="yes">
      <frame src="/file/<?filename?>/card" name="frame_card">
    </frameset>
  </frameset>
</frameset>
</html>

<!-- vim: set expandtab ts=2 : //-->
