<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <title>File Server</title>
  <style>
  .not_alpha {
    background-color: #ffaaaa;
    color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
  }
  </style>
</head>
<frameset rows="30,*">
  <frame src="/file/<?filename?>/top" name="frame_top">
  <frameset cols="300,*">
    <frame src="/file/<?filename?>/wordlist" name="frame_wordlist" scrolling="yes">
    <frameset rows="*,300">
      <frame src="/file/<?filename?>/file" name="frame_file" scrolling="yes">
      <frame src="/file/<?filename?>/card" name="frame_card">
    </frameset>
  </frameset>
</frameset>
</html>

<!-- vim: set expandtab ts=2 : //-->
