<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <title>Стартовая страница Lingvo Server</title>
</head>
<body>
  <h1>Стартовая страница Lingvo Server</h1>
  Время: <?time?><br>
  <a href="/">home</a>
  <a href="/test">test</a>
  <a href="/shutdown">Завершить работу сервера</a><br>
  Выберете действие:<br>
  <table>
    <tr>
      <td>Анализировать загруженный файл</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><?files?></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</body>
</html>

<!-- vim: set expandtab ts=2 : //-->
